<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%- title %></title>
    <link rel="stylesheet" type="text/css" href="public\assets\styles\salesforce-lightning-design-system.css" />
  </head>
    <%- include('../partials/header.ejs') %>

    <body>
      <div class="slds-grid slds-grid_vertical-align-center slds-grid_align-center">
        <%- body %>
      </div>
    </body>
    <%- include('../partials/footer.ejs') %>

</html>
